html {
    background-color: #353c41;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pantalla {
    padding: 20px;
    width: 25%;
    margin: auto;
    margin-top: 10%;
    background-color: #D976A9;
    text-align: right;
    border-radius: 25px;
}

.resultado {
    margin: 0 20px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.escribirNumeros {
    width: 100%;
    height: 5vh;
    text-align: right;
    padding: 0 20px;
    border-radius: 25px;
    border: 2px solid #8798a5; 
    box-shadow: inset 0 0 10px rgba(153, 171, 185, 0.8);
    transition: all 0.s ease;
}

.escribirNumeros:focus {
    outline: none;
    border: 2px solid #2196F3; 
    box-shadow: inset 0 0 10px rgba(33, 150, 243, 0.8);
}

main {
    width: 25%;
    margin: 10px auto;
    padding: 10px;
    background-color: #D976A9;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 25px;
}

.superior {
    width: fit-content;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    font-size: 3vh;
}

.superior > :first-child {
    color: red;
}

.numeros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;    
    margin: 20px 10px 0 0;
    width: 100%;
    font-size: 3vh;
}

.artimeticos {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
    margin: 0 0 0 10px;
    width: 100%;
}

.artimeticos > :first-child {
    margin-bottom: 10px;
}

.btn {
    width: 5vw;
    height: 5vh;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-size: 3vh;
    font-weight: bolder;
    border: 2px solid #8798a5; 
    box-shadow: inset 0 0 10px rgba(153, 171, 185, 0.8);
}